$screen:#6699ff;
$screen-border:#3399ff;
$lime: #99CC00;
$black: #333333;
$almost-black:#32050C;
$lightGray: #CCCCCC;
$darkGray: #999999;
$white: #fff;

html{
  background-color:$black;
}

  .page-header{

  .title-section{
    color: $lightGray;
    text-align:center;
    display:grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items:center;
    .fa-icon{
      margin-left:4%;
      font-size:30px;
    }
  }
  .help-section{
      margin: auto;
      padding: 5px;
      background-color: $white;
      width:95%;
    }
}

.box{
  position: relative;
  margin: auto;
  display: flex;
  margin-top: 3%;
  width: 800px;
  height: 420px;
  background: none;


  .keypad-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:3px;
    grid-template-rows: 1fr 2fr 1fr;
    position: relative;
    margin:auto;
    width: 50%;
    height:95%;
    border: solid 3px $lime;
    border-radius:10px;

    .upper-sect{
      background-color:$lightGray;
      display:flex;
      align-items:center;
      width: 100%;
      height:100%;

    .keypad-screen{
      font-family:'Press Start 2P', cursive;
      display:flex;
      align-items:center;
      position: relative;
      margin:0 auto 0 auto; 
      width: 45%;
      height:40%;
      border-color: $screen-border;
      border-radius:10px;
      border-style: inset;
      border-width: 2px;
      background: $screen;

      .screen-text{
        margin:0 auto 0 auto;
      }

    }

  }
    .mid-sect{
      background-color:$darkGray;
      padding:10px 10px 10px 10px;
      
      .keys-grid{
        position: relative;
        margin: auto;
        width:90%;
        height:100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:10px;
        grid-template-rows: 1fr 1fr 1fr;
        .drum-pad-button{
          display:flex;
          border-radius:10px;
          align-items:center;
          height:100%; //needed because height of a child element is calculated if parent element has height specified

          .drum-pad{
            line-height:30px;
            display:inline-block;
            cursor:pointer;
            position: relative;
            width:100%;//means 100% of the parent element
          }
        } 
      }
    } 
  
  .footer{
    background-color:$lightGray;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
	  .slidecontainer{
      margin:0 auto 0 auto;
	    width:60%;
      input[type=range]{
        width:100%;
      }
    }
  }
}



.metronome-container{
  border: solid 3px $lime;
  border-radius:10px;
  width:25%;
  height:95%;
  margin:auto;
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:3px;
  grid-template-rows: 1fr 2fr 1fr;
  
  .upper-sect{
    background-color:$lightGray;
    display:flex;
    align-items:center;
    
    .metronome-screen{ 
      font-family:'Press Start 2P', cursive;
      display:flex;
	    align-items:center;
      position: relative;
      margin:0 auto 0 auto; 
      width: 45%;
      height:40%;
      border-color: $screen-border;
      border-radius:10px;
      border-style: inset;
      border-width: 2px;
      background: $screen;
      
      .screen-text{
	     margin:0 auto 0 auto;
	    }
    }
  }

  .mid-sect{
    background-color:$darkGray;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;

  .metronome-controls{
    display:inline-block;
    height:60%;
    margin:0 auto 0 auto; 
    width:80%;

    #button-center{
      height:100%;
      width: 40%; 
    }

    #button-left{
      width: 15%;
      height:100%;
    }

    #button-double-left{
      width: 15%;
      height:100%;
    }

    #button-right{
      width: 15%;
      height:100%;
    }

    #button-double-right{
      width: 15%;
      height:100%;
    }

   }
 }

 .footer{
    background-color:$lightGray;
    margin:auto;
    display:flex;
    align-items:center;
    height:100%;
    width:100%;
   
   .slidecontainer{
      width:60%;
      margin:0 auto 0 auto;
      #metronome-slider{
        width:100%;
        color:$black!important;
      }
    }
  }
}

.looper-container{
  border: solid 3px $lime;
  border-radius:10px;
  width:25%;
  height:95%;
  margin:auto;
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:3px;
  grid-template-rows: 1fr 2fr 1fr;

  .screen-section{
    position:relative; //lamp (position:absolute) refers to the nearest positioned ancestor
    background-color:$lightGray;
    display:flex;
    align-items:center;

  .lamp{
  position:absolute;
  right:12px;
  top:6px;
  width:10px;
  height:10px;
  border-radius:100%;
  border-style: inset;
  border-width: 2px;
  margin:auto;
  background-color: $almost-black;
  margin-top:5px;
}

   .looper-screen{ 
      font-family:'Press Start 2P', cursive;
      display:flex;
      align-items:center;
      position: relative;
      margin:0 auto 0 auto; 
      width: 45%;
      height:40%;
      border-color: $screen-border;
      border-radius:10px;
      border-style: inset;
      border-width: 2px;
      background: $screen;
      
      .screen-text{
       margin:0 auto 0 auto;
      }
    }
  }

  .button-section{
    background-color:$darkGray;
    width:100%;
    height:100%;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:3px;
    grid-template-rows: 1fr 1fr;

    button{
      border-radius:10px;
    }
  }

  .volume-section{
    background-color:$lightGray;
    display:flex;
    align-items:center;
    input{
      margin:0 auto 0 auto; margin:auto;
    }

  }


}


} /* box */




@media all and (max-width: 600px) {
  .box{
    position: relative;
    margin: auto;
    display: block;
    margin-top: 2%;
    width: 400px;
    height: 900px;
    background: none;

    .keypad-container{
      width: 95%;
      height:30%;
      .keypad-screen{
        font-size:14px;
      }
    }

   .metronome-container{
      width: 95%;
      height:30%;
    }

    .looper-container{
      width: 95%;
      height:30%;
    }
  }
}
